*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #e7c6ff;
  color: #ffe5ec;
  height:100vh;
  width:100vw;
  font-family: 'Rubik Doodle Shadow';
  padding:20px;
  user-select: none;
}

.heading{
  height:10vh;
  font-size: 30px;
  border-bottom: 2px solid #ffe5ec;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.heading a{
  color: #ffe5ec;
  font-size:20px;
  text-decoration: none;
}
.heading .home-link{
  border-radius: 30%;
}


.home{
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik Doodle Shadow';
  flex-direction: column;
  gap:30px;
}
.button{
  padding:20px;
  border-radius: 10px;
  font-size: 20px;
  color: #ffe5ec;
  background: transparent;
  font-family: 'Rubik Doodle Shadow';
  border: 4px solid #ffe5ec;
  box-shadow: 4px 4px 2px black;
  width:20vw;
}




.base{
  height:84vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  color:purple;
}
.container ul{
  display:flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
  align-items:flex-start;
  list-style: none;
}


.toppingss{
  display:inline-block;
  border-radius: 20px;

}